@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input::-webkit-input-placeholder {
        font-size: 12px;
        line-height: 2;
    }

    /*data-placeholder{

    }*/
    .error {
        border: 2px solid red;
    }

    .ui-state-highlight {
        background: #c4e3fa !important;
    }

    .ui-jqgrid tr.ui-row-ltr td {
        border-color: #c7c2c2;
    }

    #loadingDiv {
        position: absolute;
        top: 150px;
        right: -475px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
    }
</style>

<form method="get" class="form-horizontal">

    <div id="MarkPicStatus" class="divbody">
        <div class="col-sm-12" style="padding-right:10px">
            <div class=" ibox float-e-margins">

                <div class="ibox-title">
                    <h5>&nbsp;</h5> <span class="label ">Mark Pic Status</span>
                    <div class="ibox-tools">
                        <div class="col-sm-6"></div>
                        <label class="col-sm-2 control-label">Pic Status:</label>
                        <div class="col-sm-2">
                            <select style="width:100%" class="select2_demo_3 form-control" id="ddlPhotoReqStatus" data-placeholder="Choose a pic status...">
                                <option></option>
                            </select>
                        </div>

                        <strong>
                            <a href="#">
                                <i class="fa fa-save" id="btnSave" title="Save"></i>
                            </a>
                        </strong>
                        <a href="#">
                            <i class="fa fa-refresh" id="btnRefresh" title="Refresh" onclick="parent.document.getElementById('framecontent').src = '../Process/MarkPicStatus'"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="col-sm-12">

                        @*<div class="col-sm-6">*@
                        <div style="padding-top:15px" id="FirstPage">
                            <!-- <div class="col-sm-12">-->
                            @*<div class="form-group">*@

                            <div class="col-sm-2">
                                <label class="control-label">Client:</label>
                                <select style="width:100%" class="select2_demo_3 form-control" id="ddlClient" data-placeholder="Choose a client...">
                                    <option></option>

                                </select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label">SubClient:</label>
                                <select style="width:100%" class="form-control" id="ddlSubClient" data-placeholder="Choose a subclient..."></select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label">Status:</label>
                                <select style="width:100%" class="form-control" id="ddlStatus" data-placeholder="Choose a status..."></select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label">From Date :</label>
                                <div class="input-group date txtfromdate">
                                    <span class="input-group-addon" id="divtxtdob"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="txtfromdate" class="form-control" value="" readonly="readonly" style="background-color:white">
                                </div>

                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">To Date:</label>
                                <div class="input-group date txttodate" style="width:140px">
                                    <span class="input-group-addon" id="divtxtdob"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="txttodate" class="form-control" value="" readonly="readonly" style="background-color:white">
                                </div>

                            </div>
                            @*<label class="col-sm-2 control-label">To Date:</label>*@
                            @*<div class="col-sm-4">

                                </div>*@
                            <div class="col-sm-1">
                                <label class="control-label">&nbsp;</label>
                                <button type="button" id="btnSearchFiltr" style="padding-bottom: 5px;margin-top:26px;">
                                    <span class=" glyphicon glyphicon-search">
                                    </span>
                                </button>
                            </div>

                        </div>
                    </div>
                    @*<div class="col-sm-12">
                            <div class="col-sm-6"></div>
                            <label class="col-sm-2 control-label">Pic Status:</label>
                            <div class="col-sm-2">
                                <select style="width:100%" class="select2_demo_3 form-control" id="ddlPhotoReqStatus" data-placeholder="Choose a client...">
                                    <option></option>

                                </select>
                            </div>
                            <input type="button" id="btnSubmit" value="Save Changes" class="btn btnorder btnactive">

                        </div>*@
                    <div id="MainPage">
                        <div class="col-sm-12">
                            <div class="col-sm-2"></div>
                            <div class="ibox-content">
                                <div class="jqGrid_wrapper">
                                    <table id="tblOrderListGrid"></table>
                                    <div id="pagerOrderListGrid"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Close div-->
                </div>
            </div>
            <input type="hidden" id="hdnOrderId" />

        </div>
        <div id="loadingDiv" style="display: none;">
            <img id="myImage" src="~/Content/Image/loading_spinner.gif">
        </div><br>
    </div>

    <script type="text/javascript">

        var ResultSubClientList;
        function SetFilterdates() {
            var cudt = new Date();
            //cudt.setDate(cudt.getDate() + 3);
            $('.input-group.date.txtfromdate').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: false,
                autoclose: true,
                format: "mm/dd/yyyy",
                todayHighlight: false

                //startDate: '-6m'
                //startDate: new Date(),
            });

            $(".input-group.date.txttodate").datepicker("setDate", cudt);
            $('.input-group.date.txttodate').datepicker("setEndDate", cudt);


            $('.input-group.date.txttodate').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: false,
                autoclose: true,
                format: "mm/dd/yyyy",
                todayHighlight: false,
                //startDate: '-2m',
                //startDate: new Date(),
            });

            var d = new Date($("#txttodate").val());
            d.setDate(d.getDate() - 20);
            $(".input-group.date.txtfromdate").datepicker("setDate", new Date(d));

            //$('.input-group.date.txtfromdate').datepicker("setEndDate", cudt);
            //$('.input-group.date.txtfromdate').datepicker("setStartDate", d);



            //var dt = new Date(Result[0]["order_date"]);
            //var sOrdDt = dt.format('mm/dd/yyyy');
            //$('#txtOrderDate').val(sOrdDt);


        }

        //-----------------For grid-----------------
        var ColumnNames = ['Order No', 'Order Date', 'Type', 'Due', 'Subject Address', 'clientID', 'Client', 'Sub Client', 'Portal', 'Assignee', 'Status', 'Current Status', 'Pic.Status', ];
        var ColumnModel = [
            { name: 'order_id', index: 'order_id', width: 25, sorttype: "string", search: true },
            { name: 'order_date', index: 'order_date', width: 40, sorttype: "string", search: true, formatter: DateFormat },
            { name: 'ordertypename', index: 'ordertypename', width: 30, sorttype: "string", align: 'center', search: true },
             { name: 'due_date', index: 'due_date', width: 40, sorttype: "string", search: true, classes: 'duecolor' },
            { name: 'subject_address', index: 'subject_address', width: 125, sorttype: "string", search: true },

            { name: 'master_account_no', index: 'master_account_no', width: 40, sorttype: "string", hidden: true },
            { name: 'CM_CUSTOMER_NAME', index: 'CM_CUSTOMER_NAME', width: 40, sorttype: "string", search: true },
            { name: 'subclient', index: 'subclient', width: 40, sorttype: "string", search: true },
            { name: 'portal_name', index: 'portal_name', width: 40, sorttype: "string", search: true },
            { name: 'emp_first_name', index: 'emp_first_name', width: 40, sorttype: "string", search: true },

            { name: 'status_desc', index: 'status_desc', width: 40, sorttype: "string", search: true },
            { name: 'status_reason_desc', index: 'status_reason_desc', width: 40, sorttype: "string", search: true },
            { name: 'photo_req_status_desc', index: 'photo_req_status_desc', width: 40, sorttype: "string", search: true }];


        function FormatDate(DateToFormat, IsReturnDateObject) {


            try {

                var ConvertedDate = null;

                if (DateToFormat == null || DateToFormat == '')
                    return null;

                try {
                    var m = DateToFormat.getMonth() + 1;
                }
                catch (ex) {
                    DateToFormat = new Date(parseInt(DateToFormat.substr(6)));
                }

                if (IsReturnDateObject)
                    return DateToFormat;
                else {

                    DateToFormatString = GetDateFormated(DateToFormat, SelectedDateFormat);
                    return DateToFormatString;

                }

            }
            catch (ex) {
                return null;
            }
        }

        function SplitDateTimeString(sFormat, sDateTime, sIsFormat) {

            var sDay = '';
            var sDate = '';
            var iMonth = '';
            var sMonth = '';
            var sYear = '';
            var shours = '';
            var sMinutes = '';
            var sSeconds = '';
            var sMilliseconds = '';
            var sParameterName = '';

            if (sFormat == 'mm/dd/yy') {

                if (sIsFormat == 0) {
                    sDateTimeSplit = sDateTime.split('/');
                    sDate = sDateTimeSplit[0];
                    iMonth = sDateTimeSplit[1];
                    sYear = sDateTimeSplit[2];

                    //Sample Return String: 2015,05,23
                    sParameterName = sYear + ',' + iMonth + ',' + sDate;

                }
                else if (sIsFormat == 1) {
                    var dt1 = new Date(sDateTime);

                    sDate = dt1.getDate();
                    //iMonth = dt1.getMonth() + 1;

                    iMonth = (dt1.getMonth() + 1).toString().length > 1 ? (dt1.getMonth() + 1).toString() : ('0' + (dt1.getMonth() + 1).toString());

                    sYear = dt1.getFullYear();


                    //Sample Return String: 23/05/2015
                    sParameterName = iMonth + '/' + sDate + '/' + sYear;
                }
                else if (sIsFormat == 2) {

                    var dt1 = new Date(sDateTime);

                    sDate = dt1.getDate();
                    iMonth = dt1.getMonth();

                    //iMonth = (dt1.getMonth() + 1).toString().length > 1 ? (dt1.getMonth() + 1).toString() : ('0' + (dt1.getMonth() + 1).toString());

                    sYear = dt1.getFullYear();
                    sDay = dt1.getDay();

                    //            shours = dt1.getHours();
                    //            sMinutes = dt1.getMinutes();
                    //            sSeconds = dt1.getSeconds();
                    //            sMilliseconds = dt1.getMilliseconds();

                    shours = 2;
                    sMinutes = 3;
                    sSeconds = 5;
                    sMilliseconds = 551;

                    //Sample Return String: 1 Jan 2011, 02:03:04.567
                    sParameterName = sYear + ',' + iMonth + ',' + sDay + ',' + shours + ',' + sMinutes + ',' + sSeconds + ',' + sMilliseconds;
                }

            }

            return sParameterName;

        }

        function GetDateFormated(sDateTime, dtFormat) {

            try {


                sDateTime = SplitDateTimeString(dtFormat, sDateTime, 1);
                return sDateTime;
            }
            catch (ex) {
                alert(ex.message);
            }
        }

        function DateFormat(cellvalue, options, rowObject) {
            if (cellvalue != '') {
                //cellvalue = FormatDate(cellvalue, 1);
                return GetDateFormated(cellvalue, 'mm/dd/yy');
            }
        }


        function ListGrid(page, rows, searchqry) {

            if (page == null) {
                page = 0;
            }
            if (rows == null) {
                rows = 100;
            }
            if (searchqry == null) {
                searchqry = '';
            }

            $('#loading-indicator').show();
            var sStartDate = $('#txtfromdate').val();
            var sEndDate = $('#txttodate').val();
            var sSearchType = $('#ddlStatus').val();
            var sSearchClient = $('#ddlClient').val();
            var sSubClient = $('#ddlSubClient').val();
            var data = [];
           
            if (sStartDate != '' && sEndDate == '') {
                msgalert("Error", 'Please choose end date', 3);
                return;
            }

            var Condition = "where delete_status = 0 and status_reason_id !=19 and  order_date>= '" + $('#txtfromdate').val() + "' and order_date<='" + $('#txttodate').val() + " 23:59:59.599 '" + searchqry + " order by order_id desc";
            if (sSearchClient == "") {
                msgalert("Warning", "Please choose an client and continue....", 2);
                return;
            }
            if (sSearchType == "") {
                if (sSubClient != "" && sSubClient != null)
                    var Condition = "where delete_status = 0  and master_account_no=" + sSearchClient + "  and hierarchy_id=" + sSubClient + "   and status_reason_id !=19 and  status_id !=9 and photo_req_status in(1,2) and order_date>= '" + $('#txtfromdate').val() + "' and order_date<='" + $('#txttodate').val() + " 23:59:59.599 ' " + searchqry + "order by order_id desc";
                else
                    var Condition = "where delete_status = 0  and master_account_no=" + sSearchClient + "  and status_reason_id !=19 and  status_id !=9 and photo_req_status in(1,2) and order_date>= '" + $('#txtfromdate').val() + "' and order_date<='" + $('#txttodate').val() + " 23:59:59.599 '" + searchqry + " order by order_id desc";

            }
            else if (sSearchType > 0) {
                if (sSubClient != "" && sSubClient != null)
                    var Condition = "where delete_status = 0 and master_account_no=" + sSearchClient + "   and hierarchy_id=" + sSubClient + "   and status_reason_id !=19 and  photo_req_status in(1,2)  and status_id=" + sSearchType + " and  order_date>= '" + $('#txtfromdate').val() + "' and order_date<='" + $('#txttodate').val() + " 23:59:59.599 '" + searchqry + " order by order_id desc";
                else
                    var Condition = "where delete_status = 0 and master_account_no=" + sSearchClient + "   and status_reason_id !=19 and  photo_req_status in(1,2)  and status_id=" + sSearchType + " and  order_date>= '" + $('#txtfromdate').val() + "' and order_date<='" + $('#txttodate').val() + " 23:59:59.599 '" + searchqry + " order by order_id desc";

            }
            //else if (sSearchType == 0) {
            //    if (sSubClient != "" && sSubClient != null)
            //        var Condition = "where delete_status = 0 and master_account_no=" + sSearchClient + "  and hierarchy_id=" + sSubClient + "   and status_reason_id !=19 and  status_id !=9 and photo_req_status in(1,2) and order_date>= '" + $('#txtfromdate').val() + "' and order_date<='" + $('#txttodate').val() + " 23:59:59.599'  order by order_id desc";
            //    else
            //        var Condition = "where delete_status = 0 and master_account_no=" + sSearchClient + "  and status_reason_id !=19 and  status_id !=9 and photo_req_status in(1,2) and order_date>= '" + $('#txtfromdate').val() + "' and order_date<='" + $('#txttodate').val() + " 23:59:59.599' order by order_id desc";

            //}
          

            var pager_id = "pagerOrderListGrid";
            var Datas = [];
            var Result;

            var strJsonDatas = eval({ strCondition: Condition, strFieldNames: null, strSessionID: UserSession, page: page, rows: rows, Table: 'OM_VW_ORDERLIST' });

            //var grid = $('#tblOrderListGrid');

            $.ajax({
                type: "POST",

                url: "GetJqGridData",
                data: JSON.stringify(strJsonDatas),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    var data = msg.Data;
                    if (data == '[]') {
                        WriteLog('No Records Found');
                    }
                    else if (data == null) {
                        WriteLog('Unable to connect to server');
                    }
                    else {
                        try {

                            Result = jQuery.parseJSON(data);

                        }
                        catch (exception) {
                            Result = null;
                        }

                        if (Result == null)
                            WriteLog(data.toString());

                    }

                    if (Result != '' && Result != null) {

                        Datas = Result;
                    }

                    //Create Grid for list------------------------------------------------------------------------------------------------------------

                    var oJQGridFunctions = new JQGridFunctions();
                    var grid = $('#tblOrderListGrid');
                    jQuery(grid).jqGrid('clearGridData');
                    var sMultiSelect = true;
                    jQuery(grid).jqGrid({
                        colNames: ColumnNames,
                        colModel: ColumnModel,
                        caption: 'Order List',
                        //data: Datas,
                        pager: '#' + pager_id,
                        viewrecords: true,
                        height: 300,
                        autowidth: false,
                        shrinkToFit: true,
                        multiselect: true,
                        rownumbers: false,
                        rowTotal: 100,
                        rowNum: 100,
                        rowList: [10, 30, 50, 100],
                        //width: 1050,
                        hidegrid: true,
                        searchOperators: true,
                        multipleSearch: true,
                        ignoreCase: true,
                        loadOnce: true,
                    });

                    gridbind(pager_id, grid, msg.Page, msg.TotalPage, msg.Total, Datas)
                    if (Result == null) {
                        msgalert("Warning", "No Datas Found....", 2);
                        return;
                    }
                    FormateGrid();
                    
                    //sets the grid size initially
                    //DataGrid.jqGrid('setGridWidth', parseInt($(window).width()) - 20);

                }
            });

        }

        function MarkPicPageLoad() {

            var strJsonData = eval({ CurrentUser: 1, EmployeeId: 1 });
            var Result = "";
            $.ajax({
                url: "GetOrderAssignPageLoad",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(strJsonData),
                success: function (data) {


                    var ResultClientList = jQuery.parseJSON(data.strClientList);
                    var ResultEmpList = jQuery.parseJSON(data.strEmpList);
                    var ResultStatusList = jQuery.parseJSON(data.strStatusList);
                    ResultSubClientList = jQuery.parseJSON(data.strClientList);
                    var ResultPhotoList = jQuery.parseJSON(data.strPhotoList);
                    // ----------------------------------- Client List --------------------------
                    if (ResultClientList != "" && ResultClientList != null) {
                        for (var i = 0; i < ResultClientList.length; i++) {
                            if (ResultClientList[i]["IsParent"] == 1)
                                $('#ddlClient').append('<option value="' + ResultClientList[i]["CM_CUSTOMER_ID"] + '">' + ResultClientList[i]["CM_CUSTOMER_FULL_NAME"] + '</option>');
                        }
                    }
                    // ----------------------------------- Employee List --------------------------
                    if (ResultPhotoList != "" && ResultPhotoList != null) {
                        for (var i = 0; i < ResultPhotoList.length; i++) {
                            $('#ddlPhotoReqStatus').append('<option value="' + ResultPhotoList[i]["value"] + '">' + ResultPhotoList[i]["display_value"] + '</option>');
                        }
                    }
                    // ----------------------------------- Status List --------------------------
                    if (ResultStatusList != "" && ResultStatusList != null) {
                        $('#ddlStatus option').remove();
                        $('#ddlStatus').val(0).change();
                        $('#ddlStatus').empty().append('<option value="">-Select status-</option>');
                        for (var i = 0; i < ResultStatusList.length; i++) {
                            if (ResultStatusList[i]["is_completed"] == null && ResultStatusList[i]["is_submitted"] == null && ResultStatusList[i]["status_id"] != 12)
                                $('#ddlStatus').append('<option value="' + ResultStatusList[i]["status_id"] + '">' + ResultStatusList[i]["status_desc"] + '</option>');
                        }
                    }
                    // ----------------------------------- Status List --------------------------
                    //if (ResultSubClientList != "" && ResultSubClientList != null) {
                    //    for (var i = 0; i < ResultSubClientList.length; i++) {
                    //        if (ResultSubClientList[i]["ParentId"] ==  $('#ddlClient').val())
                    //            $('#ddlSubClient').append('<option value="' + ResultSubClientList[i]["CM_CUSTOMER_ID"] + '">' + ResultSubClientList[i]["CM_CUSTOMER_FULL_NAME"] + '</option>');
                    //    }
                    //}
                }
            });
        }

        function ProcAsignPictureStatus() {
            var SelRowId = $('#tblOrderListGrid').jqGrid('getGridParam', 'selarrrow');
            var OrderID = '';
            var sStatus = $('#ddlPhotoReqStatus option:selected').text();

            if (SelRowId.length > 0) {
                var sStatusType = $('#ddlPhotoReqStatus').val();
                var paramNames = [], paramValues = [];
                paramNames.push('OrderIDs'); paramNames.push('Typeid'); paramNames.push('sEmpRefNo'); paramNames.push('sStatusType');
                for (var i = 0; i < SelRowId.length; i++) {
                    var RowData = $("#tblOrderListGrid").jqGrid('getRowData', SelRowId[i]);
                    var sPicStatus = $('#tblOrderListGrid').getCell(SelRowId[i], 'photo_req_status_desc');

                    OrderID += RowData.order_id + ',';
                    if (sPicStatus == sStatus) {
                        msgalert("Error", 'Both picture status are same....', 3);

                        return;
                    }
                }

                OrderID = OrderID.replace(/,\s*$/, "");
                paramValues.push(OrderID); paramValues.push('1'); paramValues.push(EmpId); paramValues.push(sStatusType);


                var strJsonDatas = eval({ strSessionID: UserSession, ProcParameters: paramNames, ProcInputData: paramValues });
                var Result = oAPICall.SelectData(strJsonDatas, "SelectMarkPictStatus");
                if (Result != "") {
                    msgalert('Success', 'Picture Status Updated Successfully....', 1);
                    ListGrid();
                }
            }
            else {
                msgalert("Warning", "Please select atleast one order....", 2);
                return;

            }
        }


        function FormateGrid() {

            $("#tblOrderListGrid").jqGrid('setGridParam',
           {
               loadComplete: function () {
                   var rowIds = $('#tblOrderListGrid').jqGrid('getDataIDs');
                   var flage = 0;
                   var sQaFlag = 0;
                   inprogress = [];
                   sQaInprogress = [];
                   var Emp = EmpId;
                   sRoleId = access_level;
                   for (i = 0; i < rowIds.length; i++) {//iterate over each row
                       rowData = $('#tblOrderListGrid').jqGrid('getRowData', rowIds[i]);
                       //set background style if ColValue === true\

                       if (rowData['photo_req_status_desc'] == 'Received') {

                           $('#tblOrderListGrid').setCell(rowIds[i], 'photo_req_status_desc', '', { background: 'red', color: 'white' });

                       }
                       if (rowData['photo_req_status_desc'] == 'Uploaded') {

                           $('#tblOrderListGrid').setCell(rowIds[i], 'photo_req_status_desc', '', { background: 'yellow', color: 'red' });

                       }
                       if ((rowData['status_id'] == 5 && rowData['status_reason_id'] == 19 && rowData['emp_ref_no'] == Emp) && (rowData['clarification_status'] == 0 || rowData['clarification_status'] == 3)) {

                           inprogress[flage] = rowData['order_id'];
                           flage++;

                       }

                       var sOrderDueDt = rowData['due_date'];

                       var cd = new Date();
                       var sOrdDueDt = new Date(sOrderDueDt);
                       // cd = dateFormat(cd, "isoDateTime");

                       if (rowData['status_id'] != "9" && cd > sOrdDueDt) {//Order Due

                           $('#tblOrderListGrid').jqGrid('setRowData', rowIds[i], false, { color: 'black', weightfont: 'bold', background: '#f78181' });//light red
                       }
                       if (rowData['ord_revision_flag'] == 2) { //Redo
                           $('#tblOrderListGrid').jqGrid('setRowData', rowIds[i], false, { color: 'black', weightfont: 'bold', background: '#f3f19c' });//yellow #7ac0ef
                       }
                       if (rowData['clarification_status'] == "1" || rowData['clarification_status'] == "2") {//Pending or Clarification

                           $('#tblOrderListGrid').jqGrid('setRowData', rowIds[i], false, { color: 'black', weightfont: 'bold', background: '#7ac0ef' });//blue
                       }
                       if (rowData['ord_revision_flag'] == 1) { //Revision
                           $('#tblOrderListGrid').jqGrid('setRowData', rowIds[i], false, { color: 'black', weightfont: 'bold', background: '#d47d00' });//brown
                       }


                       if (sRoleId == 12) {
                           if ((rowData['status_reason_id'] == 17 || rowData['status_reason_id'] == 21) && rowData['emp_ref_no'] == Emp) {

                               sQaInprogress[sQaFlag] = rowData['order_id'];
                               sQaFlag++;

                           }
                       }
                   }

               },

           }).trigger('reloadGrid');
        }
       
        $(document).ready(function () {
            retdata = parent.$('#hdnUserDetails').val();
            var userConfig = new UserConfig();
            userConfig.InitilizeUserConfig(retdata);

            SetFilterdates();
            MarkPicPageLoad();
            var page = 0;
            var rows = 100;
            var searchqry = '';
            var sCondition = "where delete_status=0 " + searchqry + " order by order_id desc";
            var pager_id = "pagerOrderListGrid";
            var Datas = [];
            var Result;

            var strJsonDatas = eval({ strCondition: sCondition, strFieldNames: null, strSessionID: UserSession, page: page, rows: rows, Table: 'OM_VW_ORDERLIST' });

            //--------------------END--------------------------

            //Create Grid for list------------------------------------------------------------------------------------------------------------

            var oJQGridFunctions = new JQGridFunctions();
            var grid = $('#tblOrderListGrid');
            var sMultiSelect = false;
            jQuery(grid).jqGrid({
                colNames: ColumnNames,
                colModel: ColumnModel,
                caption: 'Order List',
                pager: '#' + pager_id,
                viewrecords: true,
                //datatype: "local",
                //mtype: 'GET',
                height: 300,
                autowidth: false,
                shrinkToFit: true,
                multiselect: true,
                rownumbers: false,
                rowTotal: 100,
                rowNum: 100,
                rowList: [10, 30, 50, 100],
                width: $(window).innerWidth() - 25,
                height: $(window).innerHeight() - 240,
                hidegrid: true,
                searchOperators: true,
                multipleSearch: true,
                ignoreCase: true,
                loadOnce: true,
            });

            $(window).bind('resize', function () {
                $('#tblOrderListGrid').setGridHeight($(window).innerHeight() - 240);
                $('#tblOrderListGrid').setGridWidth($(window).innerWidth() - 25);

            });


            $('#ddlClient').change(function () {
                var sIsSubClient = 0;
                $('#ddlSubClient option').remove();
                $('#ddlSubClient').val(0).change();
                $('#ddlSubClient').empty().append('<option value="">-Select SubClient-</option>');
                for (var i = 0; i < ResultSubClientList.length; i++) {
                    if (ResultSubClientList[i]["ParentId"] == $('#ddlClient').val()) {
                        $('#ddlSubClient').append('<option value="' + ResultSubClientList[i]["CM_CUSTOMER_ID"] + '">' + ResultSubClientList[i]["CM_CUSTOMER_FULL_NAME"] + '</option>');
                        sIsSubClient = 1;
                    }

                }
                if (sIsSubClient != 1) {
                    $('#ddlSubClient option').remove();
                    $('#ddlSubClient').val(0).change();
                }

            });
            $('#btnSearchFiltr').click(function () {

                ListGrid();
            });

            $('#btnSave').click(function () {

                ProcAsignPictureStatus();
            });


        });

    </script>
</form>