
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input::-webkit-input-placeholder {
        font-size: 12px;
        line-height: 2;
    }
    .error {
        border: 2px solid red;
    }
    .ibox {
        clear: both;
        margin-bottom: 0px;
    }

    .spanlabl {
        font-size: 14px;
        font-weight: bold;
        color: darkblue;
        text-align: left;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.42857143;
        border-radius: 0;
        border: 1px solid transparent;
        margin-bottom: 10px;
        background-color: #3289C8;
        color: #FFF;
    }
    .ibox {
        clear: both;
        margin-bottom: 0px;
    }
    /*#loadingDiv {
        position: absolute;
        top: 158px;
        right: -447px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
    }*/
</style>
<form method="get" class="form-horizontal">

    <div id="ResetPassword" class="divbody">
        <div class="col-sm-12" style="padding-right:10px">          

                            <div style="padding-top:15px" id="MainPage">
                                <div class="ibox-title">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Current Password</label>
                                        <div class="col-sm-5 input-group">
                                            <input type="password" id="txtcurrpasswd" placeholder="Enter your password here.." required="" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default reveal2" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                            </span> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">New Password</label>
                                        <div class="col-sm-5 input-group">
                                            <input type="password" id="txtnewpasswd" title=" Enter Minimum 6 Character with atleast 1 Character, 1 number, 1 symbols " onpaste="return false" placeholder="Enter new password here.." required="" class="form-control" onkeyup="CheckPasswordStrength(this.value)">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                            </span>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <span id="password_strength"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Confirm Password</label>
                                            <div class="col-sm-5 input-group">
                                                <input type="password" id="txtnconfirmpasswd" onpaste="return false" placeholder="Enter confirm new password here.." required="" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default reveal1" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-10 control-label"></label>
                                            <div class="col-sm-2"><input type="button" id="btnPasswrdSubmit" value="Submit" required="" class="btn btn-primary block full-width m-b"></div>
                                        </div>
                                    </div>
                                </div>
                        
        </div>
    </div>
    <input type="hidden" id="hdnEmailId" />
    <input type="hidden" id="hdnUserId" />
    <input type="hidden" id="hdnUserfullname" />
    <input type="hidden" id="hdnUsername" />
    <div id="MailData" style="visibility: hidden">
    </div>
    <div id="loadingDiv" style="display: none;">
        <img id="myImage" src="~/Content/Image/loading_spinner.gif">
    </div><br>

</form>
<script>
    $(".reveal").on('click', function () {
        var $pwd = $("#txtnewpasswd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
    $(".reveal1").on('click', function () {
        var $pwd = $("#txtnconfirmpasswd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
    $(".reveal2").on('click', function () {
        var $pwd = $("#txtcurrpasswd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
    localStorage.setItem("PageID", "ResetPassword");
    var sUserType = '';
    var gridSelection = [];
    var sIsFirstResult = [];
    function show() {
        document.getElementById("lodingDiv").style.display = "none";
    }
    function hide() {
        document.getElementById("loadingDiv").style.display = "none";
    }
    function SendEMail1() {
        var sMailTo = $('#hdnEmailId').val();
        var sMailBody = CreateMailBody1();
        var StrJsonDatas = eval({
            mail_to: sMailTo,
            mail_subject: 'Password Successfully Changed',
            mail_body: sMailBody

        });
        var Result = oAPICall.Sendmail(StrJsonDatas, 'sendmail1');
        if (Result != null || Result != '') {
            CreateMailLog1();
        }
    }

    function CreateMailBody1() {
        var Condition = ' where mail_type=23 '; 
        var strJsonDatas = eval({ strCondition: Condition, strFieldNames: null, strSessionID: UserSession });
        var Result = oAPICall.SelectData(strJsonDatas, "SelectTfsEmailTemplate");

        if (Result != null || Result != '') {
            var sMailData = Result[0].mail_body;
            var sUserfullname = $('#hdnUserfullname').val();
            var sUsername = $('#hdnUsername').val();
            document.getElementById('MailData').innerHTML = sMailData;
            document.getElementById('sname').innerHTML = sUserfullname;
            document.getElementById('sUsername').innerHTML = sUsername;
            document.getElementById('company_address').innerHTML = CompanyName;
        }
        return document.getElementById('MailData').innerHTML;
    }
    function CreateMailLog1() {
        var mail_type = "23"; 
        var username = $('#hdnUsername').val();
        var mail_from = "icorepioneertech@gmail.com";
        var mail_to = $('#hdnEmailId').val();
        var mail_cc = "";
        var mail_bcc = "";
        var mail_sub = 'Password Successfully Changed';
        var mail_body = CreateMailBody1();
        var mail_send_datetime = new Date();
        var dt = dateFormat(dt, "isoDateTime");
        var loginuser = $('#hdnUsername').val();
        var mail_sendornot = 1; 
        var mail_attachment = 1; 

        var strJsonDatas = eval({
            mail_temp_no: mail_type, mail_from: mail_from, mail_to: mail_to, mail_cc: mail_cc, mail_bcc: mail_bcc,
            mail_sub: mail_sub, mail_body: mail_body, loginuser: CurrentUser, mail_send_datetime: mail_send_datetime, mail_send_by: CurrentUser,
            mail_sendornot: mail_sendornot, mail_attachment: mail_attachment
        });

        var Result = oAPICall.InsertData(strJsonDatas, 'CreateTfsEmailLog');

    }
    function Clear() {
        $('#txtcurrpasswd').val('');
        $('#txtnewpasswd').val('');
        $('#txtnconfirmpasswd').val('');
        $('#txtsuperpwd').val('');
        $("#password_strength").html('');

    }

    function UserLogout() {
        localStorage.setItem("islogin", 'off');
        localStorage.setItem("cu", '');
    }

    $(document).ready(function () {
        $('#txtcurrpasswd').focusout(function () {

            if (document.getElementById('txtcurrpasswd').value == "") {
                document.getElementById('txtcurrpasswd').style.borderColor = "red";

            }
            else {
                document.getElementById('txtcurrpasswd').style.borderColor = "green";
            }
            var sPassword = encode64($('#txtcurrpasswd').val().toString());
            var sCondition = " WHERE user_id=" + "'" + CurrentUser + "'" + "";
            var strJsonDatas = eval({ strCondition: sCondition, strFieldNames: null, strSessionID: UserSession });
            var Result = oAPICall.SelectData(strJsonDatas, "SelecttfsUserMaster");
            if (Result != "" || Result != null) {
                var sPasswordt = Result[0].password;
                if (sPasswordt != sPassword) {
                    msgalert('Warning', 'Current password is wrong', 2);
                    return;
                }
            }

        });
        $('#txtnewpasswd').focusout(function () {

            if (document.getElementById('txtnewpasswd').value == "") {
                document.getElementById('txtnewpasswd').style.borderColor = "red";

            }
            else {
                document.getElementById('txtnewpasswd').style.borderColor = "green";
            }
        });
        $('#txtnconfirmpasswd').focusout(function () {

            if (document.getElementById('txtnconfirmpasswd').value == "") {
                document.getElementById('txtnconfirmpasswd').style.borderColor = "red";

            }
            else {
                document.getElementById('txtnconfirmpasswd').style.borderColor = "green";
            }
        });

        $('#btnPasswrdSubmit').click(function () {
            if (document.getElementById('txtcurrpasswd').value == "") {
                document.getElementById('txtcurrpasswd').style.borderColor = "red";
                msgalert('Warning', 'Please enter mandatory fields', 2);
                return;
            }
            if (document.getElementById('txtnewpasswd').value == "") {
                document.getElementById('txtnewpasswd').style.borderColor = "red";
                msgalert('Warning', 'Please enter mandatory fields', 2);
                return;
            }
            if (document.getElementById('txtnconfirmpasswd').value == "") {
                document.getElementById('txtnconfirmpasswd').style.borderColor = "red";
                msgalert('Warning', 'Please enter mandatory fields', 2);
                return;
            }
            if (document.getElementById('txtnconfirmpasswd').value != document.getElementById('txtnewpasswd').value) {
                document.getElementById('txtnconfirmpasswd').style.borderColor = "red";
                document.getElementById('txtnewpasswd').style.borderColor = "red";
                msgalert('Warning', 'Password do not match!..', 2);
                return;
            }
            //if (access_level == 4) {
            //    if (document.getElementById('txtsuperpwd').value == "") {
            //        document.getElementById('txtsuperpwd').style.borderColor = "red";
            //        msgalert('Warning', 'Please enter mandatory fields', 2);
            //        return;
            //    }
            //}
            if ($("#password_strength").html() == "Weak" || $("#password_strength").html() == "Good") {
                msgalert('Warning', 'Password strength must strong and continue..', 2);
                return;
            }
            if ($("#txtnconfirmpasswd").val().length <= 5) {
                msgalert('Warning', 'Short passwords are easy to guess. Try one with atleast 6 characters.', 2);
                return;
            }
            if ($("#password_strength").html() == "Weak" || $("#password_strength").html() == "Good") {
                msgalert('Warning', 'Password strength must strong and continue..', 2);
                return;
            }
            if ($("#txtnconfirmpasswd").val().length <= 5) {
                msgalert('Warning', 'Short passwords are easy to guess. Try one with atleast 6 characters.', 2);
                return;
            }
            var sPassword = encode64($('#txtcurrpasswd').val().toString());
            var sCondition = " WHERE user_id=" + "'" + CurrentUser + "'" + "";
            var strJsonDatas = eval({ strCondition: sCondition, strFieldNames: null, strSessionID: UserSession });
            var Result = oAPICall.SelectData(strJsonDatas, "SelecttfsUserList");
            if (Result != "" || Result != null) {
                var sPasswordt = Result[0].password;
                $('#hdnUsername').val(Result[0].username);
                $('#hdnUserfullname').val(Result[0].full_name);
                $('#hdnEmailId').val(Result[0].email_id);

                if (sPasswordt != sPassword) {
                    document.getElementById('txtcurrpasswd').style.borderColor = "red";
                    msgalert('Warning', 'Current password is wrong', 2);
                    return;
                }
            }
            var sCurrPasswd = encode64($('#txtcurrpasswd').val().toString());
            var sNewPasswd = encode64($('#txtnewpasswd').val().toString());

            //if (access_level == 4) {
            //    var sPassword1 = encode64($('#txtsuperpwd').val().toString());
            //    var sCondition = " WHERE user_id=" + "'" + 1 + "'" + "";
            //    var strJsonDatas = eval({ strCondition: sCondition, strFieldNames: null, strSessionID: UserSession });
            //    var Result = oAPICall.SelectData(strJsonDatas, "SelecttfsUserList");
            //    if (Result != "" || Result != null) {
            //        var sPasswordt1 = Result[0].password;
            //        $('#hdnUsername').val(Result[0].username);
            //        $('#hdnUserfullname').val(Result[0].full_name);
            //        $('#hdnEmailId').val(Result[0].email_id);
            //        if (sPasswordt1 != sPassword1) {
            //            document.getElementById('txtsuperpwd').style.borderColor = "red";
            //            msgalert('Warning', 'SuperAdmin password is wrong', 2);
            //            return;
            //        }
            //    }
            //}
            var sCondition = " WHERE user_id=" + "'" + CurrentUser + "'" + "";
            var strJsonDatas = eval({ strCondition: sCondition, strFieldNames: null, strSessionID: UserSession });
            var Result = oAPICall.SelectData(strJsonDatas, "SelecttfsUserMaster");
            if (Result != "" || Result != null) {

                
                var StrJsonDatas = eval({
                    password: sNewPasswd,
                    updated_by: CurrentUser,
                    updated_date: new Date(),
                    is_first_login: 2

                });
                //show();
                var sCondition = " WHERE user_id=" + "'" + CurrentUser + "'" + "";
                var Result1 = oAPICall.UpdateData(StrJsonDatas, 'UpdatetfsUserMaster', sCondition);
                if (Result1 != null && Result1 != '') {
                    sMsgDesc = 'Password reset successfully'
                    setTimeout(function () {
                        SendEMail1();
                        //hide();
                        msgalert('Success', sMsgDesc, 1);
                        Clear();
                        UserLogout();
                        //window.location = "../Home/Logout";
                        parent.window.location = "../Home/Logout";

                    }, 2000);

                }
            }
            else
            {
                msgalert('Warning', 'Current password is wrong', 2);
            }

        });
      });
</script>
